{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}
{% block extra_head%}
<script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" data-auto-replace-svg="nest"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cssforlogin.css' %}">
</head>

{% endblock %}
{% block content %}
<div class="box">
<div class="big-box">
<div class="text">{% trans "Sign Out" %}</div>

<div class="ml-1">{% trans 'Are you sure you want to sign out?' %}</div>
<div class="ml-1">
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn" type="submit">{% trans 'Sign Out' %}</button>
</form>
</div>
</div>
</div>
{% endblock %}
