{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block extra_head%}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cssforlogin.css' %}">
</head>

{% endblock %}

{% block body%}
<div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">F.R.I.E.N.D</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if user.is_authenticated %}
            <ul class="navbar-nav mt-2 mt-lg-0">
              <li class="nav-item"> <a class="nav-link" href="{% url 'homepage' %}">Home</a> </li>
              <li class="nav-item"> <a class="nav-link" href="{% url 'account_email' %}">Change E-mail</a></li>
              <li class="nav-item"> <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a> </li>
            </ul>
          {% else %}
            <ul class="navbar-nav mt-2 mt-lg-0">
              <li class="nav-item"> <a class="nav-link" href="{% url 'account_login' %}">Sign In</a></li>
              <li class="nav-item"> <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a></li>
            </ul>
          {% endif %}
      </div>
      </div>
    </nav>
  </div>
{% endblock %}

{% block content %}
<div class="box">
  <div class="container">
  {% if messages %}
        {% for message in messages %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          {{message}}
      </div>
        {% endfor %}
    {% endif %}
  </div>
    <div class="big-box">
    	<div class="text"> {% trans "Change Password" %}</div>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <i class="fas fa-lock icon"></i>{{ form.oldpassword }}<br>
        <i class="fas fa-lock icon"></i>{{ form.password1 }}<br>
        <i class="fas fa-lock icon"></i>{{ form.password2 }}
        <div class="ml-1">
        <button type="submit" name="action" class="btnn">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </div>
    </form>
	</div>
</div>
{% endblock %}
