{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block extra_head%}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cssforlogin.css' %}">
</head>
{% endblock %}

{% block body%}
<div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">F.R.I.E.N.D</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if user.is_authenticated %}
            <ul class="navbar-nav mt-2 mt-lg-0">
              <li class="nav-item"> <a class="nav-link" href="{% url 'homepage' %}">Home</a> </li>
              <li class="nav-item"> <a class="nav-link" href="{% url 'account_email' %}">Change E-mail</a></li>
              <li class="nav-item"> <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a> </li>
            </ul>
          {% else %}
            <ul class="navbar-nav mt-2 mt-lg-0">
              <li class="nav-item"> <a class="nav-link" href="{% url 'account_login' %}">Sign In</a></li>
              <li class="nav-item"> <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a></li>
            </ul>
          {% endif %}
      </div>
      </div>
    </nav>
  </div>
{% endblock %}

{% block content %}
<div class="box">
  <div class="container">
  {% if messages %}
        {% for message in messages %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          {{message}}
      </div>
        {% endfor %}
    {% endif %}
  </div>
    <div class="big-box">
    <div class="text">{% trans "Password Reset" %}</div>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="ml-1"><p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p></div>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <i class="fas fa-envelope-square icon"></i>{{ form.email }}
          <br>
          <div class="ml-1">
        
        <button class="btnn" type="submit" >{% trans "Reset My Password" %}</button>
    </div>
    </form>
    <div class="ml-1"><p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p></div>
</div>
</div>
{% endblock %}
