{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block extra_head%}
<script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" data-auto-replace-svg="nest"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cssforlogin.css' %}">
</head>

{% endblock %}


{% block content %}
<div class="box">
    <div class="big-box">
    	<div class="text"> {% trans "Change Password" %}</div>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <i class="fas fa-lock icon"></i>{{ form.oldpassword }}<br>
        <i class="fas fa-lock icon"></i>{{ form.password1 }}<br>
        <i class="fas fa-lock icon"></i>{{ form.password2 }}
        <div class="ml-1">
        <button type="submit" name="action" class="btn">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </div>
    </form>
	</div>
</div>
{% endblock %}
