{% extends "../account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
<!-- 
{% block head_title %}{% trans HOMEPAGE%}{% endblock %} -->

{% block extra_head%}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cssforlogin.css' %}">
</head>
{% endblock %}


{% block body%}
<div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">F.R.I.E.N.D</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mt-2 mt-lg-0">
              <li class="nav-item"> <a class="nav-link active" href="{% url 'homepage' %}">Home</a> </li>
              <li class="nav-item"> <a type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">POST</a></li>
              <li class="nav-item"> <a class="nav-link" href="{% url 'homepage' %}">Profile</a> </li>
            </ul>
            <form class="d-flex">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
			<ul class="navbar-nav mt-2 mt-lg-0">
			<li class="nav-item"> <a class="nav-link" href="{% url 'account_email' %}">Change E-mail</a></li>
             <li class="nav-item"> <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a> </li>
         </ul>
      </div>
      </div>
    </nav>
  </div>
	<div style="height: 60px;">
	</div>
	<div class="container">
	{% if messages %}
        {% for message in messages %}
        <div class="alert">
        	<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        	{{message}}
    	</div>
        {% endfor %}
    {% endif %}
	</div>
	</div>
	<div class="container">
		<div class="row">
			{% for i in posts %}
			<div class="col-lg-6 col-md-12">
				<div class="card" style="max-height: 600px; margin: 1rem;">
					<div class="card-header">
						{% if 0 %}
						{% else %}
						<img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" style="height: 3rem; width: 3rem; border-radius: 100%; margin-right: 0.5rem;">
						{% endif %}
						<div style="display: inline-block; font-size: 1.5rem"><a href="{% url 'userProfile' i.user %}" style="color: black;">{{i.user}}</a></div>
						<br> <small class="text-muted">{{i.date.date}} {{ i.date.time }}</small>
					</div>
					<div class="card-body" style="overflow: auto;">
						{% if i.img %}
						<img class="card-img-top" src="{{ i.img.url }}" alt=""
							style="border: 1px solid grey; height:400px; width:400px; border-radius: 1cm;display: block; margin: 0 auto 1rem auto;">
						{% endif %}
						<p class="card-text">{{ i.captions }}</p>
					</div>
					<div class="card-footer d-flex justify-content-evenly">
							<a class="btn btn-primary btn-sm" href="{% url 'likepost' i.id %}"><i class="far fa-thumbs-up"></i></a>
							<a class="btn btn-warning btn-sm" type=""><i class="far fa-comment-alt"></i></a>
							<a class="btn btn-dark btn-sm"><i class="fas fa-share"></i></a>
							{% if i.user == request.user %}
							<a class="btn btn-danger btn-sm" href="{% url 'deletepost' i.id %}"><i class="far fa-trash-alt"></i>
							</a>
							{% endif %}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	
{% endblock %}

{% block content %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">TITLE</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="post" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<div>
						<label for="TextPost" class="form-label">Text</label>
						<!-- <input type="textarea" class="form-control" name="postText" id="TextPost"> -->
						<textarea name="post_text" id="TextPost" cols="30" rows="10"></textarea>
					</div>
					<br>
					<div>
						<label for="PicturePost" class="form-label">Pic</label>
						<input type="file" class="form-control" name="post_image" id="PicturePost">

					</div>
					<hr>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">POST</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}