{% extends "../account/base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-2">

	</div>
	<div class="col-md-8 col-sm-12">
		<div class="card text-white bg-dark mx-3 mt-3 mb-3">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<img src="{{ profile_pic.url }}" alt="..." class="rounded mx-3 my-3"
						style="height: 200px; width: 200px;">
				</div>
				<div class="col-md-6 col-sm-6 mx-2">
					<div class="card-body">
						<h5 class="card-title">{{user_obj.username}}</h5>
						<p class="card-text">{{bio}}</p>
						<p>Friends : {{friends}}</p>
						<p>{{user_obj.email}}</p>
						<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2">

	</div>
</div>


<div class="row">
	<div class="col-md-2 my-2">

	</div>
	<div class="col-md-8 mx-3 my-2">
		{% for img in img_list %}
		{% for j in img %}
		{% if j.img %}
	
			<img src="{{ j.img.url }}" alt="img not found"
				style="border: 1px solid grey; height:200px; width:200px; border-radius: 1cm;">

		{% endif %}
		{% endfor %}
		{% endfor %}
	</div>
	<div class="col-md-2">

	</div>
</div>

<div class="row">

</div>

{% endblock %}