body {
	margin:0;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
	height: 100%;
}
.box{
	min-height: 100vh;
	height: 100%;
	background-image: linear-gradient(rgb(255, 51, 204),rgb(102, 0, 255));
	background-repeat: no-repeat;
	padding: 5rem;
}
.big-box {
	width: 40%;
	height: 70vh;
	background-color: white;
	padding: 3em 1em 1em 1em;
	margin: 0 auto;
	min-width: 290px;
}
.big-box-l {
	width: 40%;
	margin-top: 50%;
	height: 50vh;
	background-color: white;
	padding: 3em 1em 1em 1em;
	margin: 0 auto;
	min-width: 290px;
}
.text {
	font-weight: 900;
	font-size: 3rem;
	margin-bottom: 2rem;
	text-align: center;
}
label {
	display:none;
}
input[type="password"],input[type="text"],input[type="email"] {
	padding: 1rem;
	padding-left: 3rem;
	width: calc(100% - 2rem);
	margin-bottom: 1rem;
	background-color: rgb(204, 204, 204);
	border: none;
	color:rgb(153, 153, 153);
	font-weight: 400;
}     
.ml-1{
	margin-left: 1rem;
}
.icon { 
	position: relative;
    left: 2rem;
    width: 1rem; 
} 
.btnn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #ffffff;
  font-size: 1.5rem;
  background-color: #ff66d9;
  padding: 10px 0 10px 0;
  width: calc(100% - 1rem) ;
  text-decoration: none;
  /* margin-bottom: 3rem; */
  border: none;
  margin-top: 1rem;
}

.small-text {
	text-align: center;
	color: rgb(153, 153, 153);
}
.sign-up-link {
	color: rgb(128, 128, 128);
}
.alert {
  padding: 20px;
  background-color: #23cf95;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}